<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="123.css">
</head>
<body>
    <div class="wrapper">
        <!--Navbar Is Here-->
        <div class="navbar">
            <div class="logo">
                <a href="#"><img src="assets/Roshan Logo5.png" alt="Roshan Logo" id="logo-image"></a>
            </div>
            <div class="navitems">
                <a href="about.html">Explore Me</a>
                <a href="https://notevista.site/" target="_blank">My Startup</a>
                <a href="https://www.youtube.com/@iamroshandamo" target="_blank">My Youtube</a>
            </div>
            <div class="cvbtn">
                <a href="#">
                    <button class="btn">Download Resume</button>
                </a>
            </div>
        </div>
        
        <!--About Page Is Here-->
        <div class="container">
            <div class="aboutme">
                <h3>about me.</h3>
                <p id="tagline">I'm a python - django backend developer <br> interested in data science and AI ML</p>
                <p id="description">I'm passionate about exploring the transformatie realms of Artificial Intelligence, Machine Learning, and Entrepreneurship. As a Computer Science and Engineering student at UIT-RGPV Bhopal, my goal is to secure a placement in the AI/Ml domain  while gaining hands-on experience through internships.</p>
                <button id="aboutme">Explore More About Me.</button>
            </div>
            <div class="image">
                <img src="assets/IMG_20231230_040919.jpg" alt="mypic">
            </div>
        </div>

        <!--My Products is here-->
        <div class="container-filled">
            <div class="book_header">
                <h2>My Books & Products</h2>
                <button class="btn">More Products</button>
            </div>
            <div class="products-cards">
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Book 1.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Falling Drops of Love</h3>
                        <button class="btn">Read Now</button>
                        
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Book 2.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Falling Drops of Love</h3>
                        <button class="btn">Read Now</button>
                        
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Book 3.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Falling Drops of Love</h3>
                        <button class="btn">Read Now</button>
                        
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Book 4.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Falling Drops of Love</h3>
                        <button class="btn">Read Now</button>
                        
                    </div>

                </div>
            </div>
        </div>

        <!--Education page starts from here-->
        <div class="edu-container">
            <div class="title">
                <h2>Experience Section</h2>
            </div>
            <div class="edu-cards">

                <div class="edu-card">
                    <div class="detail">
                        <div class="institute-img">
                            <img src="assets/School-Image.jpg" alt="Schooling">
                            <h4>Govt. Excelence School, Petlawad, Jhabua, M.P.</h4>
                        </div>
                        <div class="detail-edu">
                            <div class="edu-details">
                                <h3>Higher Sacondery Schooling (11th-12th)</h3>
                                <h4>June 2019 - May 2021</h4>
                            </div>
                            <div class="description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-card">
                    <div class="detail">
                        <div class="institute-img">
                            <img src="assets/College-Image.jpg" alt="College">
                            <h4>University Institute of Technology, RGPV, Bhopal, M.P.</h4>
                        </div>
                        <div class="detail-edu">
                            <div class="edu-details">
                                <h3>B.Tech in Computer Science & Engineering (UG)</h3>
                                <h4>September 2023 - June 2027</h4>
                            </div>
                            <div class="description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Footer Starts is Here-->
        <div class="project-container">
            
            <div class="project-cards">

                <div class="footer-content">
                    <p>&copy; 2024 Roshan Damor. All Rights Reserved.</p>
                    <ul class="footer-links">
                        <li><a href="#about">About</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate.</p>
                </div>

                <div class="thankyou">
                    <h2>Thankyou For Visiting My Site</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nemo et enim, voluptatum iste eaque molestiae blanditiis sequi fuga sed.</p>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>